body {
 background: linear-gradient(45deg, #9C27B0, #673AB7);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: 100%;
}

.block {
  position: absolute;
  left: 10vw;
}
